.git
.DS_Store

**/node_modules
**/.next
**/.turbo
**/dist
**/build
**/coverage

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

metalcards_site-main/token.json
metalcards_site-main/client_secret*.json
