mixin footer() 
  footer
    span © 2022 MetalCards
    a(href="https://www.instagram.com/metalcards.uz?utm_medium=copy_link") instagram
    a(href="http://tiktok.com/@metalcardsuz") tik tok
    a(href="https://t.me/metalcardsuz") telegram